header {
    color: aliceblue;
    font-size: 2vw;
    text-align: center;
    margin: 2% 5% 2%  5%;
   padding: 1%;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.form {
    padding-bottom: 2%;
    font-size: xx-large;
}

.align-content{
    padding: 1%;
}
.space-between {
    margin-top: 1%;
}

.inline {
    display: flex;
    }

body div h3 {
    font-size: 1.5vw;
    margin-top: 7px;
    margin-left: 15px;
    color: rgb(88, 87, 87);
    font-style: italic;
}

body div span {
    margin-left: 10px;
    font-size: larger;
}
body div p {
    font-size: larger;
    margin-left: 25px;
}
 .margin {
     margin-left: 20px;
 }

 .icon {
    margin-left: 30%;
    margin-top: 20%;
 }