header {
    color: white;
    font-size: 2vw;
    text-align: center;
    margin: 2% 5% 2%  5%;
   padding: 1%;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.search {
    margin-bottom: 30px;
}

.city-buttons {
    margin-bottom: 15px;
}

.form {
    padding-bottom: 2%;
    font-size: xx-large;
}

.align-content{
    padding: 1%;
}
.space-between {
    margin-top: 1%;
}

.inline {
    display: flex;
    }

body div h3 {
    font-size: 1.5vw;
    margin-top: 7px;
    margin-left: 15px;
    color: rgb(88, 87, 87);
    font-style: italic;
}


body div span {
    border-radius: 5px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 1.4vw;
    color:white;
    font-style: bold;
}
body div p {
    font-size: larger;
}
 .margin {
     margin-left: 20px;
 }

 .icon {
    margin-left: 30%;
    margin-top: 20%;
 }

.daily-icons {
    margin-left: 32%;
    margin-top: 0%;
    margin-bottom: 10%;
    width: 50px;
    height: 50px;
}

 body div img {
    width: 120px;
    height: 120px;
    margin-left: 100px;
    margin-top: 20px;
 }

 .daily-forecast{
     justify-content: space-between;
     
 }
 .week-day{
     padding: 10px;
    font-size: smaller;
    text-align: center;
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5px;
    width: 19%;
    background: rgb(3,4,110);
    background: linear-gradient(180deg, rgb(19, 21, 180) 0%, rgba(115,29,201,1) 62%, rgba(231,137,5,1) 100%);
 }
 .week-day-middle {
     margin-left: 0.5%;
     margin-right: 0.5%;
 }
 .week-day-first{
     margin-left: auto;
     margin-right: 0.5%;
 }
 .week-day-last{
    margin-right: auto;
    margin-left: 0.5%;
 }